@page "/blogposts"
@inject BlogPostSummaryService service

<PageTitle>Blog posts</PageTitle>
<h1>Blog posts</h1>

<AuthorizeView Roles="admin">
    <Authorized>
        <a href="blogposts/new/edit">Create</a>
    </Authorized>
</AuthorizeView>

@if (service.Summaries is null)
{
     <div>Loading...</div>
}
else
{
    foreach (var blogPostSummary in service.Summaries.OrderByDescending(bps => bps.PublishedDate))
    {
        <BlogPostSummary Summary="@blogPostSummary" />
    }
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        await service.LoadBlogPostSummaries();
    }
}