@using Models
@inject NavigationManager navigationManager
<article @onclick=@Navigate>
    <h2>@Summary.Title</h2>
    <div>
        @foreach (var tag in Summary.Tags)
        {
            <em>@tag, </em>
        }
    </div>
    <div>
        @((MarkupString)Markdown.ToHtml(Summary.BlogPostMarkdown))
    </div>
</article>

@code{
 [Parameter]
 public BlogPost Summary { get; set; }

 void Navigate() => navigationManager.NavigateTo($"/blogposts/{Summary.Author}/{Summary.Id}");
}